.about {
    background: #6f6f6f;
}

.about__container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__infos {
    max-width: 665px;
}

.about__title,
.about__text {
    color: #FFF;
    text-align: left;
}

.about__title {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.about__text {
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;
}

.about__text strong {
    font-weight: bold;
}

.about__text i {
    font-style: italic;
}

/* MOBILE */
@media (max-width: 991px) {
    .about__container {
        flex-direction: column;
        padding: 20px 20px 40px;
    }

    .about__title,
    .about__text {
        text-align: center;
    }

    .about__title {
        margin-top: 20px;
    }

    .about__figure,
    .about__image {
        max-width: 320px;
    }
}