.grid {
    background: #454545;
}

.grid__container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 45px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.grid__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid__figure,
.grid__image {
    width: 320px;
    height: 220px;
}

.grid__figure {
    border: 10px solid #6f6f6f;
}

.grid__title,
.grid__text {
    color: #FFF;
    text-align: center;
}

.grid__title {
    margin: 20px 0;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.grid__text {
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;
    max-width: 300px;
}

/* MOBILE */
@media (max-width: 991px) {
    .grid__container {
        flex-direction: column;
        padding: 20px 20px 40px;
    }

    .grid__list {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .grid__item {
        margin-bottom: 30px;
    }

    .grid__item:last-child {
        margin-bottom: 0px;
    }

    .grid__figure,
    .grid__image {
        width: 300px;
        height: 200px;
    }

}